<div id="contact" class="contact-info">
    <h2>Contact Information</h2>
    <p><strong>Address:</strong><a href="https://maps.app.goo.gl/AcN3qZJzE3zTWRsc6" target="_blank"> Ukraine, Odesa, Chykalenka Street, 56A</a></p>
    <p><strong>Phone:</strong><a href="tel:+380630300035" target="_blank">+38 063 03 000 35</a></p>
    <p><strong>Email:</strong><a href="https://mail.google.com/mail/?view=cm&to=sunmeatrich@gmail.com&su=Angular&body=Привет,%20я%20хочу%20Вам%20написать." target="_blank">sunmeatrich&#64;gmail.com</a></p>
    <p><strong>Github:</strong><a href="https://github.com/sunmeat" target="_blank" class="external-link">&#64;sunmeat</a></p>
    <p><strong>Linkedin:</strong><a href="https://www.linkedin.com/in/sunmeat/" target="_blank" class="external-link">&#64;sunmeat</a></p>
    <p><strong>Site:</strong><a href="http://sunmeat.github.io/" class="external-link" target="_blank">sunmeat.github.io</a></p>
</div>