<div id="skills" class="skills">
    <h2>Skills</h2>
    <ul>
      <li><strong>Technical Skills:</strong></li>
      <ul>
        <li>Application Development</li>
        <li>Database Management</li>
        <li>Programming (Economics Background)</li>
        <li>IT Education and Training</li>
      </ul>
      <li><strong>Interpersonal Skills:</strong></li>
      <ul>
        <li>Strong Communication</li>
        <li>Team Collaboration</li>
        <li>Responsibility</li>
        <li>Optimism</li>
        <li>Versatility</li>
        <li>Creativity</li>
        <li>Friendliness</li>
        <li>Outgoing Personality</li>
      </ul>
      <li><strong>Additional Skills:</strong></li>
      <ul>
        <li>Photography Enthusiast</li>
        <li>Musical Instruments (Piano, Accordion, Sopilka, Melodica, Ukulele, Drymba)</li>
        <li>Karaoke Singing</li>
        <li>Speaking Languages: Russian, Ukrainian, English, French</li>
      </ul>
    </ul>
  </div>