<div id="about" class="personal-info">
    <h2>Personal Information</h2>
    <p>My name is Oleksandr, I’m 35 years old.</p>
    <p>I was born, raised and live now in Odesa, Ukraine.</p>
    <p>
      I finished school in 2006 and graduated from university in 2010 with honours.
      I majored in economics and programming. Now I work in IT university as a professor.
      I am a competent IT professional in making applications and managing databases.
      I have strong technical skills as well as excellent interpersonal skills. I am eager to be challenged
      in order to grow and further improve my skills.
    </p>
    <p>
      My friends and colleagues say that I'm a good conversationalist, responsible, hardworking, optimistic,
      cheerful, versatile, communicative, creative, friendly and outgoing person. And very modest, of course.
    </p>
    <p>
      I love to help people. Looking forward to the end of the war and waiting for the victory of my lovely country.
      Also I’m an aspiring photography enthusiast, piano / accordeon / melodica / ukulele / drymba player and karaoke singer.
      And all I ever wanting now is the borders of the state of Ukraine to finally open up to men, because I really love traveling.
      So far that's all :)
    </p>
  </div>