@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    font-family: Merriweather, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(25, 25, 25);
}